body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: #f9f9f9;
    color: #333;
}

h1,
h2 {
    text-align: center;
    color: #222;
}

form {
    max-width: 600px;
    margin: 0 auto 2rem auto;
    padding: 1.5rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
}

form button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

form button:hover {
    background-color: #0056b3;
}

#book-list,
#review-list {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-item,
.review-item {
    border-bottom: 1px solid #eee;
    padding: 0.75rem 0;
}

.book-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.book-item p,
.book-item h3 {
    margin: 0;
}

.book-item strong {
    width: 95px;
}

.book-item div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.book-item span,
.book-item span {
    background: #eeeeee;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
}

.book-item .description{
    min-height: 150px;
}

.book-item .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.about-book-btn {
    cursor: pointer;
    font-size: 1rem;
    background: #0010a4;
    color: #fff;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
}

.save-book-btn {
    cursor: pointer;
    font-size: 1rem;
    background: #1fb508;
    color: #fff;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
}

.delete-book-btn {
    cursor: pointer;
    font-size: 1rem;
    background: #ff0000;
    color: #fff;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
}

.book-item:last-child,
.review-item:last-child {
    border-bottom: none;
}

.book-item h3 {
    margin: 0;
}

.header-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
    padding: 1rem;
    max-width: 200px;
    margin: 0 auto;
}

form textarea {
    min-height: 200px;
}

@media (max-width: 600px) {
    body {
        padding: 1rem;
    }

    form,
    #book-list,
    #review-list {
        padding: 1rem;
    }
}